<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/profile2.jpg" alt="profile" width="200" class="img-thumbnail rounded-circle">
      <h1 class="display-4">Rafi</h1>
      <p class="lead">Longlife Learning | Informatics Student</p>
    </div>
  </div>
</div>